.news-card {
  display: flex;
  flex-direction: column;
  padding: 56px 48px;
  background: #F2F2F2;
}

.news-card-header {}

.news-card-header h1 {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 32px;
  color: #333333;
  margin-top: 0;
}

.news-card-header h2 {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 32px;
}

.news-card-hr {
  background: #C4C4C4;
  height: 2px;
  border: none;
  margin-bottom: 32px;
}

.news-card-image img {
  width: 100%;
  object-fit: cover;
}

.news-card-content p {
  margin-top: 32px;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 20px;
}